<table class="table table-hover mt-3" style="height: 100px;">
    <thead >
      <tr >
        <th scope="col">
            ARTICLE
        </th>
        <th scope="col">PRIX</th>
        <th scope="col">STOCK</th>
        <th scope="col">CATEGORIE</th>
        <th scope="col" colspan="2" class="text-center" >Action</th>
      </tr>
    </thead>
    <tbody  #checkboxes>
        <tr *ngFor="let article of articles">
            <td>{{article.libelle.toUpperCase()}}</td>
            <td>{{article.prix_unitaire}}</td>
            <td>{{article.stock}}</td>
            <td>{{article.categorie.libelle}}</td>
            <td><button class="btn btn-danger" value="{{article.id}}" (click)="deleteArticle($event)">supprimer</button></td>
            <td><button class="btn btn-primary" value="{{article.id}}" (click)="fillForm($event)">editer</button></td>
        </tr>
    </tbody>
  </table>
