<form style="position: relative;" [formGroup]="articleForm" (ngSubmit)="onSubmit($event,btnAdd)" enctype="multipart/form-data">
    <input type="hidden" formControlName="id" >
    <div class="list-fournisseur" #listfournisseur style="position: absolute; top: 40%;left: 103%; width: 500px" >
        <ul class="list-group d-flex flex-wrap ">
            <li class="list-group-item d-flex justify-content-between align-items-center" *ngFor="let selFournisseur of fournisseur?.value let i=index" style="width: 200px;">
              <input type="text" class="form-control" width="150px" name="" id="" [disabled]="true"  value=" {{selFournisseur?.name}}">
              <button mat-icon-button matTooltip="Warn" color="warn" aria-label="Example icon-button with a heart icon" type="button" value=" {{selFournisseur?.name}}"   (click)="deleteElementSelected(inputFournisseur,selFournisseur)">
                <mat-icon>close</mat-icon>
              </button>            
        </li>
            
          </ul>
    </div>
    <div class="mt-6 mb-3 w-50">
        <input type="text" name="" id=""  class="form-control"  [value]="reference" formControlName='reference' [value]="reference" >
    </div>
    <div class="row">
        <div class="col-7">
            <div class="input-group mb-3 mt-3 position-relative">
                <div class="input-group-text bg-primary text">Libelle</div>
                <input   type="text" class="form-control " 
                (change)="tabReference.libelle=libelle?.value; handleRef(tabReference)"
                [ngClass]="{'is-invalid':libelle?.invalid && (libelle?.touched || libelle?.dirty),'is-valid':libelle?.valid && (libelle?.touched || libelle?.dirty)}" 
                name="libelle" formControlName="libelle"  placeholder="ex.robe">
                <div class="invalid-tooltip" *ngIf="libelle?.errors?.['required']">
                    Please field libelle is required
                </div> 
                <div class="invalid-tooltip" *ngIf="libelle?.errors?.['minlength']">
                    Please field libelle has minimum character to 3
                </div>
                
            </div>          
              <div class="input-group mb-3 mt-3">
                <div class="input-group-text bg-primary text">Prix</div>
                <input type="text" class="form-control" 
                [ngClass]="{'is-invalid':prix?.invalid && (prix?.touched || prix?.dirty),'is-valid':prix?.valid && (prix?.touched || prix?.dirty)}" 

                name="prix" formControlName="prix_unitaire"  placeholder="ex.200">
                <div class="invalid-tooltip" *ngIf="prix?.errors?.['required']">
                    Please field prix is required
                </div> 

            </div>
            <div class="input-group mb-3 mt-3">
                <div class="input-group-text bg-primary text"
                
                >Stock</div>
                <input type="text" class="form-control"  
                [ngClass]="{'is-invalid':stock?.invalid && (stock?.touched || stock?.dirty),'is-valid':stock?.valid && (stock?.touched || stock?.dirty)}" 
                
                formControlName="stock"  placeholder="ex.200">
                <div class="invalid-tooltip" *ngIf="prix?.errors?.['required']">
                    Please field stock is required
                </div>
            </div>
            <div class="input-group mb-3 mt-3">
                <label class="input-group-text bg-primary text" for="inputGroupSelect01">Categorie</label>
                <select class="form-select" id="inputGroupSelect01" formControlName="categorie" #categorieRef name="categorie" 
                (change)=" tabReference.categorie=categorieRef.options[categorieRef.selectedIndex].textContent!;
                putTotal(tabReference.categorie);
                handleRef(tabReference);
                "
                [ngClass]="{'is-invalid':categorie?.invalid && (categorie?.touched || categorie?.dirty),'is-valid':categorie?.valid && (categorie?.touched || categorie?.dirty)}" 

                >
                  <option  disabled>Choose...</option>
                  <option *ngFor="let categorie of categories" value="{{categorie}}">{{categorie.libelle}}</option>
                </select>
            </div>
              
            <div class="input-group">
                <div class="input-group-text bg-primary text">Fournisseur</div>
                <input type="text" class="form-control" #inputFournisseur (input)="searchByName($event)"  placeholder="ex.nameoffournisseur">
            </div>
            <div class="d-flex overflow-x-scroll" [hidden]="" style="height :65px; " >
                <button class="m-1 btn btn-outline-primary item_fourni" type="button" value="{{fournisseur.id}}" (click)="handleSelectedFournisseur($event)" *ngFor="let fournisseur of resultFournisseur">
                    {{fournisseur.name}}
                </button>
            </div>          
        
        </div>
        <div class="col-5 d-flex justify-content-between flex-column" >
            <label  for="inputFile" class="btn btn-outline-light"   style=" height: 200px;cursor: pointer;" >
                <img [src]="articleForm.value.path?.codage" [alt]="articleForm.value.path?.name" height="100%"  width="100%" style="object-fit:fill;" #image>
                
            </label>
            <input type="file" (change)="loadImage($event)" hidden id="inputFile"  accept="image/*">
            <div>

                <button type="button" class="align-self-end btn btn-primary position-relative mt-2 mb-2" (click)="listfournisseur.classList.toggle('active')" >
                    Fournisseur
                    <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                      {{fournisseur?.value?.length ?? 0}}
                      <span class="visually-hidden">unread messages</span>
                    </span>
                </button>
            </div>
            
        </div>
    </div>
        <div class="d-flex justify-content-center align-content-center">
            <button  class="btn btn-outline-primary mt-3 mb-3" style="font-size: 1.2rem;width: 110px;" #btnAdd [disabled]="!articleForm.valid || fournisseur?.value.length" >{{valueButton}}</button>

        </div>
</form>